<h1>blogs</h1>

<% if logged_in? %>
    <%= link_to("/blogs/new",{method:"get"}) do %>
        <input type="submit" value="New Post">
    <% end %>  
    <%= link_to(logout_path, {method:"delete"}) do %>
        <input type="submit" value="Logout">
    <% end %>
<% else %>
    <%= link_to(login_path, {method:"get"}) do %>
        <input type="submit" value="Login">
    <% end %>
<% end %>

<% @articles.each do |article| %>
    <ul>
        <li>
            <%= article.title %>

            <p><%= time_ago_in_words(article.created_at) %> ago</p>

            <% unless article.image == "" %>
                <img src="<%= article.image %>">
            <% end %>

            <p><%= article.content %></p>

            <p><%= article.created_at.strftime("%Y-%m-%d %H:%M JST") %></p>
        </li>
            <% if logged_in? %>
                <%= link_to("/blogs/#{article.id}/destroy",{method:"delete"}) do %>
                    <input type="submit" value="delete">
                <% end %>
            <% end %>

    </ul>
<% end %>