<h1>blogs</h1>

<% if logged_in? %> <!-- ログイン済みの時 -->
    <%= link_to("/blogs/new",{method:"get"}) do %>
        <input type="submit" value="New Post"> <!-- 記事投稿 -->
    <% end %>  
    <%= link_to(logout_path, {method:"delete"}) do %>
        <input type="submit" value="Logout"> <!-- ログアウト -->
    <% end %>
<% else %> <!-- 未ログインの時 -->
    <%= link_to(login_path, {method:"get"}) do %> 
        <input type="submit" value="Login"> <!-- ログイン -->
    <% end %>
<% end %>

<% @articles.each do |article| %> <!-- 記事を一つずつ取得 -->
    <ul>
        <li>
            <%= link_to("/blogs/#{article.id}/status",{method:"get"}) do %> <!-- 本文ページへ -->
                    <%= article.title %> <!-- タイトル -->
            <% end %>

            <p><%= time_ago_in_words(article.updated_at) %> ago</p> <!-- どれくらい前に更新されたか -->

            <% unless article.image == "" %> <!-- 画像リンクがあるとき -->
                <img src="<%= article.image %>" style="max-width:20vw;min-width:10vw;"> <!-- 画像 -->
            <% end %>

            <p><%= article.content %></p> <!-- 本文 -->
            <% if article.updated_at != article.created_at %>
                <p><%= article.updated_at.strftime("%Y年%m月%d日 %H時%M分 更新") %></p> <!-- 更新したとき、その日時も表示 -->
            <% end %>
            <p><%= article.created_at.strftime("%Y年%m月%d日 %H時%M分 作成") %></p> <!-- 作成日時 -->
        </li>
            <% if logged_in? %> <!-- ログイン済みの時 -->
                <%= link_to("/blogs/#{article.id}/destroy",{method:"delete"}) do %>
                    <input type="submit" value="delete"> <!-- 記事削除 -->
                <% end %>
                <%= link_to("/blogs/#{article.id}/edit",{method:"get"}) do %>
                    <input type="submit" value="edit"> <!-- 記事編集 -->
                <% end %>
            <% end %>
    </ul>
<% end %>