<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%= link_to("/",{method:"get"}) do %>
      <p>topへ</p>
    <% end %>
    <%= link_to("/about",{method:"get"}) do %>
      <p>aboutへ</p>
    <% end %>
    <%= link_to("/blogs",{method:"get"}) do %>
      <p>blogsへ</p>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
